@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #76AB37;
  font-family: Arial;
}

.corButao{
  background: #046419;
  padding: 10px 30px;
  color: white;


}

h1{
  font-size: 25px
}
p{
  font-size: 20px;
  color: #772D56;
}