@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #76AB37;
  font-family: Arial;
}

.corButao{
  background: #046419;
  padding: 10px 30px;
  color: white;


}

h1{
  font-size: 25px
}
p{
  font-size: 20px;
  color: #772D56;
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #fff; 
}

::-webkit-scrollbar-thumb {
  background-color: #76AB37;
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #046419; 
}

.footeer{
  background: #6b9537;
}
.navbar{
  background-color: #538518;
}